html, body, #mapid {
    height: 100%;
}

html, body {
    margin: 0;
}

#loader {
    height: 100%;
    z-index: 3000;
    padding-top: 20%;
    background-color: #f3f3f3;
}

#loader p {
    text-align: center;
}

#loader-spinner {
    margin: 0;
    font-size: 96px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#info-button {
    font-size: 20px;
}

.close, .leaflet-marker-icon {
    z-index: 800 !important;
}

.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
    background-color: rgba(66, 164, 203, 0.6) !important;
}
.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large div {
    background-color: rgba(37, 125, 150, 0.6) !important;
}